h1 {
  font-family: "Coming Soon";
  color: purple;
  text-align: left;
  font-size: 40px;
}
h3 {
  color: purple;
  text-align: right;
  font-family: "Coming Soon";
  font-size: 30px;
}

body {
  background: pink;
}
