h1 {
  font-family: "Comic Sans MS";
  color: purple;
  text-align: left;
  font-size: 40px;

}
div {
  background: white;

  
  border: black;
  border-width: 5px;
  border-style: double;
 

  
}

}

h3 {
  color: purple;
  text-align: right;
  font-family: "Comic Sans MS";
  font-size: 30px;
}
body {
  background: pink;
}
