h1 {
  font-family: "Comic Sans MS";
  color: purple;
  text-align: left;
  font-size: 40px;
}


h3 {
  color: purple;
  text-align: right;
  font-family: "Comic Sans MS";
  font-size: 25px;
}

body {
  background: pink;
}
